---

import Layout from '../layouts/Layout.astro';
import Pill from '../components/Pill.astro';
import Icon from '../components/Icon.astro';
import Props from '../src/pages/contacto.astro';

---
<Layout>
  <div class="container mx-auto">
    <div class="grid lg:grid-cols-2 gap-20 lg:gap-48">
      <!-- Div para el título -->
      <div class="lg:col-span-1 flex flex-col justify-center items-start">
        <header>
          <h1 class="custom-title">
            Hola, somos <span class="orange-text"><strong>announce me</strong></span> y queremos presentarte nuestras ideas
          </h1>
          <div class="roles flex justify-center items-center">
            <Pill href="mailto:nuriacasabn@gmail.com">Contáctanos<Icon icon="paper-plane-tilt" size="1.2em" /></Pill>
          </div>
        </header>
      </div>
      <!-- Div para la imagen -->
      <div class="lg:col-span-1 mb-40 lg:mb-0">
        <img
          alt="inicio"
          width="480"
          height="420"
          src="/assets/inicio.jpg"
        />
      </div>
    </div>
  </div>


<!-- Contenedor principal de Swiper -->
<div class="swiper-container mx-auto"">
  <!-- Wrapper adicional requerido -->
  <div class="swiper-wrapper" id="my-slider">
    <!-- Los slides -->
    <div class="swiper-slide">
      <a href="src/content/servicios/desarrolloweb.md" data-pswp-width="9800" data-pswp-height="3800">
        <div class="text-center">
            <img src="assets/desarrolloweb.webp" alt="">
            <b style="font-size: 2em;">Desarrollo Web</b>
            <b style="font-size: 0.7em;">Programación personalizada de tu presencia online: web corporativa, ecommerce, hosting profesional</b>
        </div>
        <!-- Botones de navegación -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </a>
    </div>
    <div class="swiper-slide">
      <a href="src/content/servicios/rrss.md" data-pswp-width="9800" data-pswp-height="3800">
        <div class="text-center">
            <img src="assets/rrss.webp" alt="">
            <b style="font-size: 2em;">Redes Sociales</b>
            <b style="font-size: 0.7em;">Creamos contenidos de alta calidad destinados a maximizar los resultados de tu estrategia de comunicación online</b>
        </div>
        <!-- Botones de navegación -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </a>
    </div>
    <div class="swiper-slide">
      <a href="src/content/servicios/seo.md" data-pswp-width="9800" data-pswp-height="3800">
        <div class="text-center">
          <img src="assets/seo.webp" alt="">
          <b style="font-size: 2em;">SEO</b>
          <b style="font-size: 0.7em;">Te ayudamos a mejorar el posicionamiento de tu sitio web en buscadores para que los clientes te encuentren</b>
      </div>
      <!-- Botones de navegación -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </a>
  </div>
  <div class="swiper-slide">
    <a href="src/content/servicios/blogs.md" data-pswp-width="9800" data-pswp-height="3800">
      <div class="text-center">
          <img src="assets/blogs.webp" alt="">
          <b style="font-size: 2em;">Redaccion de Copy y Blog</b>
          <b style="font-size: 0.7em;">Comunicamos la esencia de tu marca y de tu negocio para llegar a tu público objetivo con el mensaje clave</b>
      </div>
      <!-- Botones de navegación -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </a>
  </div>
  <div class="swiper-slide">
    <a href="src/content/servicios/googleads.md" data-pswp-width="9800" data-pswp-height="3800">
      <div class="text-center">
          <img src="assets/googleads.webp" alt="">
          <b style="font-size: 2em;">Google Ads</b>
          <b style="font-size: 0.7em;">Desarrollamos campañas altamente efectivas de Google Ads para atraer clientes a tu sitio web de manera constante</b>
      </div>
      <!-- Botones de navegación -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </a>
  </div>
  <div class="swiper-slide">
    <a href="src/content/servicios/networking.md" data-pswp-width="9800" data-pswp-height="3800">
      <div class="text-center">
          <img src="assets/networking.webp" alt="">
          <b style="font-size: 2em;">Networking para profesionales</b>
          <b style="font-size: 0.7em;">La colaboración entre empresas y socios es parte de nuestra esencia en Announceme. ¡Llegamos más lejos en equipo!</b>
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    </a>
  </div>




</Layout>

<style>
  .swiper-container {
    width: 80%; /* Ajusta el ancho del contenedor según tu preferencia */
    max-width: 800px; /* Establece un ancho máximo para el contenedor */
    height: 300px; /* Establece la altura del contenedor del slider */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    border: 1px solid #ccc; /* Agrega un borde al contenedor */
    border-radius: 10px; /* Ajusta el radio de los bordes */
    overflow: hidden; /* Evita que los sliders se desborden */
  }

  .swiper-slide {
    position: relative; /* Añade posición relativa para el posicionamiento absoluto del texto */
    display: flex; /* Usa flexbox para centrar vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ajusta el ancho de cada slide al 100% del contenedor */
  }

  .swiper-slide img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al 100% del slide */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .swiper-slide b {
    position: absolute; /* Posiciona el texto absolutamente */
    bottom: 20px; /* Ajusta la posición vertical del texto */
    left: 20px; /* Ajusta la posición horizontal del texto */
    color: white; /* Establece el color del texto */
    font-weight: bold; /* Ajusta el peso de la fuente */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto para mejor legibilidad */
    z-index: 1; /* Asegura que el texto esté sobre la imagen */
  }

  .custom-title {
    font-size: 2.5rem; 
    color: brown; 
  }

  .orange-text {
    color: orange; 
  }
</style>

<script>
import Swiper from 'swiper';
import 'swiper/css';
import { Navigation } from "swiper/modules";
import "swiper/css/navigation";
  // Core de Swiper y estilos
  	

  // Configurar Swiper
  const swiper = new Swiper(".swiper-container", {
    modules: [Navigation], // definir los módulos a usar
    slidesPerView: 'auto', // mostrar solo un slide a la vez
    centeredSlides: true,  // centrar el slide actual
    spaceBetween: 40,      // separación entre slides en px
    navigation: {          // definir botones next y prev para el módulo Navigation
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    }
  });

</script>

<style>

	.roles {
		display: none;
	}

	@media (min-width: 50em) {

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}
	}

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
