<div class="carousel-inner grid grid-cols-2 gap-4">
  <div class="carousel-item flex items-center">
    <div>
      <h3>Programación y Diseño Web</h3>
      <p>Descripción del slide para programación y diseño web.</p>
    </div>
    <img src="assets/inicio_segundoplano.webp" alt="Slide 1" class="w-full h-auto">
  </div>
    <!-- Agrega más slides según sea necesario -->
  </div>
  