<div class="carousel-inner grid grid-cols-2 gap-4">
    <div class="carousel-item flex items-center">
        <h3>Producción Audiovisual</h3>
      <img src="assets/productoravideo.png" alt="Slide 1" class="w-full h-auto">
      <div class="carousel-caption ml-4">
        <p>Nos apasiona contar historias cautivadoras y emocionantes a través de producciones de alta calidad.</p>
      </div>
    </div>
    <!-- Agrega más slides según sea necesario -->
  </div>
  